In [10]:
import sqlite3

connection = sqlite3.connect('my_database.db')

cursor = connection.cursor()
cursor.execute('select * from projects')

print(next(cursor))
# for i in cursor:
    # print(i)

('P001', 'DBM')

In [11]:
print(next(cursor))

('P002', 'MISM')

In [51]:
import sqlite3
class sqlite_query():
    def __init__(self, database):
        self.connection = sqlite3.connect(database)
        self.cursor = self.connection.cursor()
    
    def search_query(self, sql):
        self.cursor.execute(sql)
        
        result = self.cursor.fetchall()
 
        return result

    def commit_query(self, sql):
        self.cursor.execute(sql)
        self.connection.commit()
        
    def insert_project(self, project_id, name):
        sql = f'''
            INSERT INTO projects (project_id, name) VALUES (?, ?)
        '''
        self.cursor.execute(sql, (project_id, name))
        self.connection.commit()
    
    def insert_staff(self, staff_id, name, phone_number):
        sql = f'''
            INSERT INTO staffs (staff_id, name, phone_num) VALUES (?, ?, ?)
        '''
        self.cursor.execute(sql, (staff_id, name, phone_number))
        self.connection.commit()

    def insert_performance(self, staff_id, project_id, score):
        sql = f'''
            INSERT INTO performance (staff_id, project_id, score) VALUES (?, ?, ?)
        '''
        self.cursor.execute(sql, (staff_id, project_id, score))
        self.connection.commit()

In [52]:
my_database = sqlite_query('my_database.db')

In [35]:
x = my_database.search_query('SELECT * FROM projects')
print(x)

[('P001', 'DBM'), ('P002', 'MISM'), ('P003', 'SAP')]

In [23]:
import sqlite3

connection = sqlite3.connect('my_database.db')

cursor = connection.cursor()

sql = f'''
CREATE TABLE IF NOT EXISTS projects (
    project_id TEXT PRIMARY KEY,
    name TEXT NOT NULL
)
'''
cursor.execute(sql)

connection.commit()

cursor.close()
connection.close()

In [36]:
import sqlite3

connection = sqlite3.connect('my_database.db')

cursor = connection.cursor()

sql = f'''
CREATE TABLE IF NOT EXISTS staffs (
    staff_id TEXT PRIMARY KEY,
    name TEXT NOT NULL,
    phone_num INT 
)
'''
cursor.execute(sql)

connection.commit()

cursor.close()
connection.close()

In [46]:
import sqlite3

connection = sqlite3.connect('my_database.db')

cursor = connection.cursor()

sql = f'''
CREATE TABLE IF NOT EXISTS performance (
    staff_id TEXT,
    project_id TEXT,
    score INT 
)
'''
cursor.execute(sql)

connection.commit()

cursor.close()
connection.close()

In [31]:
my_database.insert_project('P001', 'DBM')
my_database.insert_project('P002', 'MISM')
my_database.insert_project('P003', 'SAP')

In [45]:
my_database.insert_staff('E001', '張八', 111111111)
my_database.insert_staff('E002', '李七', 222222222)
my_database.insert_staff('E003', '王六', 333333333)

In [56]:
my_database.insert_staff('E004', '李五', 444444444)
my_database.insert_staff('E005', '蕭四', 555555555)
my_database.insert_staff('E006', '劉三', 666666666)

In [53]:
my_database.insert_performance('E001', 'P001', 70)
my_database.insert_performance('E001', 'P002', 80)

In [57]:
my_database.insert_performance('E001', 'P003', 50)
my_database.insert_performance('E002', 'P001', 50)
my_database.insert_performance('E003', 'P001', 80)
my_database.insert_performance('E003', 'P001', 90)
my_database.insert_performance('E003', 'P002', 60)
my_database.insert_performance('E003', 'P003', 40)
my_database.insert_performance('E004', 'P001', 80)
my_database.insert_performance('E004', 'P002', 95)
my_database.insert_performance('E005', 'P001', 30)
my_database.insert_performance('E006', 'P001', 75)

In [55]:
sql = f'''
SELECT PE.*, S.name FROM performance AS PE
JOIN staffs AS S ON S.staff_id = PE.staff_id
'''
x = my_database.search_query(sql)
print(x)

[('E001', 'P001', 70, '張八'), ('E001', 'P002', 80, '張八')]